.restaurantMain {
    padding-bottom: 50px;
}

.restaurantCover {
    background-image: url('../../static/images/resturant-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.restaurantName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    background-color: rgba(255, 255, 255, .2);
    width: 30%;
    height: 10%;
    border-radius: 40px;
}

.sliderContent {
    height: 360px;
    color: #fff;
    width: 100%;
    line-height: 160px;
    text-align: center;
    background: #fff
}

.categoryWrapper {
    padding: 0 10px;
    margin-top: 15px;
    overflow-x: scroll;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: -30px;
}

.categoryWrapper::-webkit-scrollbar {
    display: none;
}

.categoryWrapperOnScroll {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    box-shadow: 2px 2px 10px #aaa;
    transition: all .1s;
    margin-bottom: 0px;
    height: 80px;
}

.categoryIconContainer {
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
    max-width: 70px;
}

.categoryIcon {
    height: 25px;
    width: 25px;
}

.foodCartWrapper {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.addButton {
    width: 100%;
    margin-top: 20px;
    margin: 0
}

.categoryIconContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.foodsImage {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.itemsHeader {
    padding: 0 20px;
    padding-top: 170px;
}

.itemsHeader p {
    font-size: 16px;
    font-weight: bold;
}

.categoryName {
    font-size: 12px;
    color: #222;
    margin-top: 5px;
}

.empty {
    display: block;
    margin-top: -120px;
}