.restaurantCover {
    background-image: url('../../static/images/resturant-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.restaurantName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    background-color: rgba(255, 255, 255, .2);
    width: 30%;
    height: 10%;
    border-radius: 40px;
}

.sliderContent {
    height: 360px;
    color: #fff;
    width: 100%;
    line-height: 160px;
    text-align: center;
    background: #fff
}

.categoryWrapper {
    /* padding: 0 20px; */
    margin-top: 20px;
    overflow-x: scroll;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.categoryWrapper .categoryIconContainer:nth-child(1) {
    /* margin-right: 150px; */
}

.categoryWrapper::-webkit-scrollbar {
    display: none;
}

.categoryIconContainer {
    background-color: #eee;
    padding: 15px;
    border-radius: 20px;
    max-width: 70px;
}

.categoryWrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categoryIcon {
    height: 30px;
    width: 30px;
}

.foodCartWrapper {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
}

.addButton {
    width: 100%;
    margin-top: 20px;
    margin: 0
}

.categoryIconContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.foodsImage {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}