.sliderContent {
    height: 360px;
    color: #fff;
    width: 100%;
    line-height: 160px;
    text-align: center;
    background: #fff
}

.categoryWrapper {
    /* padding: 0 20px; */
    /* margin: 20px; */
    overflow-x: scroll;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}
.categoryWrapper .categoryIconContainer:nth-child(1){
/* margin-right: 150px; */
}

.categoryWrapper::-webkit-scrollbar {
    display: none;
}

.categoryIconContainer {
    margin-right: 10px;
    background-color: #eee;
    padding: 15px;
    border-radius: 20px;
    max-width: 70px;
}

.categoryWrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categoryIcon {
    height: 30px;
    width: 30px;
}
