.mainContainer {
    background-color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
}

.layoutContainer{
    background-color: #fff;
}

.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    padding:0 20px;
}

.menuIcon{
    font-size: 20px;
}

.basketIcon{
    font-size: 20px;
}