.mainContainer {
    background-color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
}

.layoutContainer{
    background-color: #fff;
}

.headerWrapper{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    padding:0 20px;
    box-shadow: 2px 2px 10px #aaa;
}

.menuIcon{
    font-size: 20px;
}

.basketIcon{
    font-size: 20px;
}

.drawerFooter{
    height: 50px;
    padding:10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px #aaa;
}

.totalPrice{
    font-weight: bold;
}

.antContent{
    padding-top: 50px;
    padding-bottom: 50px;
}

.backText{
    font-weight: bold;
}

.backWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}