.loadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999999999999999999999999999999 !important;
}

.loadingContainer p{
    color: #fff;
}