@import '~antd/dist/antd.css';
@font-face {
  font-family: 'IRANSansWeb';
  src: local('IRANSansWeb'), url('./static/fonts/iransans/woff/IRANSansWeb.woff') format('woff');
}

body {
  font-family: 'IRANSansWeb';
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-color: #ddd;
}

.slick-dots-bottom {
  bottom: 20px !important;
}

.billDrawer .ant-drawer-body {
  padding: 0;
}

.billDrawer .ant-drawer-content-wrapper {
  width: 80% !important;
}

.billDrawer .ant-drawer-footer {
  padding: 0;
}